<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Brony Podcasts</title>
</head>
<body>
  <p>
    Il semblerai qu'un mur se dresse ici.<br/>
    Peut-être arriveras-tu à déchiffrer le message suivant ?
  </p>
  <code><pre>{{ @ERROR.text }}</pre></code>
</body>
</html>
