<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OG CARD</title>
  <style>
    body {
      background: black;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      overflow: hidden;
      width: 1200px;
      height: 630px;

      font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    }

    .background,
    .container {
      width: 1200px;
      height: 630px;
      overflow: hidden;
    }

    .background {
      background-position: center;
      background-size: 125%;
      -webkit-filter: blur(50px);
      filter: blur(50px);
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;

      background-image: url("{{ @ep.image }}");
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cover {
      max-width: 350px;
      margin: 25px;
    }

    .text {
      background-color: rgba(255, 255, 255, 0.8);
      margin-right: 25px;
      padding: 19px 0;
      width: calc(100% - 400px);
    }

    .text > div {
      padding: 10px 25px;
    }

    .title {
      font-weight: bold;
      font-size: 40px;
    }

    .description {
      font-size: 25px;
      white-space: break-spaces;
    }

    .details {
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div class="background">&nbsp;</div>
  <div class="container">
    <img class="cover" src="{{ @ep.image }}">
    <div class="text">
      <div class="title">{{ @ep.title }}</div>
      <div class="description">{{ @ep.subtitle }}</div>
      <div class="details">Saison {{ @ep.season }} - Episode {{ @ep.episode }} - Durée : {{ gmdate('H:i:s', @ep.duration) }}<br/>Présenté par {{ @ep.author }}</div>
    </div>
  </div>
</body>
</html>