<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Brony Podcasts - {{ @ep.title }}</title>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.0/plyr.css">
  <script src="https://cdn.plyr.io/3.7.0/plyr.polyfilled.js"></script>
  <style>
    body {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      justify-content: center;
      margin: 0;
      min-height: 100vh;
    }

    .content {
      padding: 20px;
      width: 100%;
    }

    .details {
      display: flex;
      flex-direction: row;
      font-size: .75rem;
      margin-bottom: 5px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .title h1,
    .title h2 {
      margin: 0;
    }

    .cover {
      margin-left: auto;
      padding-left: 20px;
    }

    .cover img {
      height: auto;
      width: 100px;
    }

    .more {
      margin-top: 5px;
      text-align: right;
    }

    .more a {
      background-color: #00a6f0;
      border-radius: 5px;
      color: white;
      font-size: .75rem;
      line-height: 25px;
      padding: 5px 10px;
      text-decoration: none;
    }

    .more a:hover,
    .more a:active {
      background: #00608b;
    }

    .plyr {
      --plyr-color-main: #f53b49;
    }

    @media screen and (max-width: 479px) {
      .details,
      .plyr__controls .plyr__volume {
        display: none;
      }
    }
  </style>
</head>
<body>
<div class="content">
  <div class="details">
    <div class="title">
      <h1>{{ @ep.title }}</h1>
      <h2>{{ @ep.show }}</h2>
      <div>{{ @ep.author }}</div>
    </div>

    <div class="cover">
      <img src="{{ imgsign('100x100/' . @ep.image ) }}" alt="{{ @ep.show }}">
    </div>
  </div>

  <audio id="player" controls>
    <source src="{{ @ep.file }}" type="audio/mp3">
  </audio>

  <div class="more">
    <!-- <a target="_blank" href="https://radiobrony.fr">radiobrony.fr</a> -->
    <a target="_blank" href="{{ @ep.url }}">Plus d'infos</a>
  </div>

  <script>
    const player = new Plyr('#player', {
<check if="{{ @GET.autoplay == 1}}">
      autoplay: true,
</check>
      controls: [
        'play',
        'progress',
        'current-time',
        'mute',
        'volume'
      ],
      invertTime: false,
      i18n: {
        restart: 'Relancer',
        rewind: 'Revenir de {seektime}s',
        play: 'Lecture',
        pause: 'Pause',
        fastForward: 'Avancer de {seektime}s',
        seek: 'Navigation',
        seekLabel: '{currentTime} de {duration}',
        played: 'Lu',
        buffered: 'Chargé',
        currentTime: 'Position',
        duration: 'Durée',
        volume: 'Volume',
        mute: 'Muet',
        unmute: 'Son',
        download: 'Télécharger',
        frameTitle: 'Lecteur pour {title}',
        settings: 'Paramètres',
        menuBack: 'Revenir au menu précédent',
        speed: 'Vitesse',
        normal: 'Normale',
        quality: 'Qualité',
        loop: 'Répétition',
        start: 'Début',
        end: 'Fin',
        all: 'Tous',
        reset: 'Remise à zéro',
        disabled: 'Désactivé',
        enabled: 'Activé'
      },
      mediaMetadata: {
        title: '{{ str_replace("'", "\\'", @ep.title) }}',
        artist: '{{ str_replace("'", "\\'", @ep.show) }}',
        album: 'Saison {{ @ep.season }}',
        artwork: [
          { src: '{{ imgsign('96x96/filters:format(jpeg)/' . @ep.image ) }}', sizes: '96x96', type: 'image/jpeg' },
          { src: '{{ imgsign('128x128/filters:format(jpeg)/' . @ep.image ) }}', sizes: '128x128', type: 'image/jpeg' },
          { src: '{{ imgsign('192x192/filters:format(jpeg)/' . @ep.image ) }}', sizes: '192x192', type: 'image/jpeg' },
          { src: '{{ imgsign('256x256/filters:format(jpeg)/' . @ep.image ) }}', sizes: '256x256', type: 'image/jpeg' },
          { src: '{{ imgsign('384x384/filters:format(jpeg)/' . @ep.image ) }}', sizes: '384x384', type: 'image/jpeg' },
          { src: '{{ imgsign('512x512/filters:format(jpeg)/' . @ep.image ) }}', sizes: '512x512', type: 'image/jpeg' }
        ]
      },
      tooltips: {
        controls: true,
        seek: true
      }
    })
  </script>
</div>
</body>
</html>
